/* CSS crunched with Crunch - http://crunchapp.net/ */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;line-height:1.5em;}
html,button,input,select,textarea{font-family:Arial,Helvetica,Verdana,Sans-Serif;}
body{width:100%;margin:0;padding:0;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
h1{font-size:2em;margin-top:0;margin-bottom:0.75em;}
h2{font-size:1.5em;line-height:2em;margin-top:0;}
h3{font-size:1.17em;line-height:1.282em;margin-top:0;}
h4{font-size:1em;line-height:1.5em;margin-top:0;}
h5{font-size:0.83em;line-height:1.807em;margin-top:0;}
h6{font-size:0.75em;line-height:2em;margin-top:0;}
hr{height:1px;border:1px solid #666;padding-bottom:-1px;margin:1.5em 0;}
abbr[title]{border-bottom:1px dotted;cursor:help;white-space:nowrap;}
b,strong{font-weight:bold;}
blockquote{margin:1.5em 30px;}
dfn{font-style:italic;}
mark{background:#ffd75c;color:#000;}
p,pre{margin:1.5em 0;}
pre,code,kbd,samp,tt,var{font-family:"Courier New","DejaVu Sans Mono",monospace,sans-serif;_font-family:'courier new',monospace;font-size:1em;line-height:1.5em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:75%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
dl,menu,ol,ul,.item-list ul{margin:0 0 1.5em 0;}
.item-list ul li{margin:0;}
dd{margin:0 0 0 30px;}
ul ul,ul ol,ol ul,ol ol,.item-list ul ul,.item-list ul ol,.item-list ol ul,.item-list ol ol{margin:0;}
menu,ol{padding:0 0 0 30px;}
ul,.item-list ul{padding:0 0 0 10px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;max-width:100%;height:auto;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.5em 0.625em 1em;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;margin-top:1.5em;margin-bottom:1.5em;border:1px solid #969696;}
caption{background:#2d2d2d;padding:5px;color:#fff;font-weight:bold;}
th{padding:0;border-bottom:none;}
tr th,thead th{color:#fff;font-weight:normal;background-color:#4f4f4f;border-right:1px solid #969696;padding:10px;}
tr td{border-top:1px solid #969696;border-right:1px solid #969696;padding:10px;}
tr.odd td{background:#f2f7fc;}
tbody{border-top:none;}
p,ul,ol{margin-top:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;margin-bottom:0.5em;}
.to-left{float:left;}
.to-right{float:right;}
.uppercase{text-transform:uppercase;}
.relative{position:relative;}
html{margin:0;padding:0;height:100%;}
a{color:#60974b;text-decoration:none;}
a:hover{text-decoration:underline;}
body{font-family:Arial,Helvetica,sans-serif;font-size:14px;font-weight:normal;color:#303030;height:100%;}
p{font-family:Arial,Helvetica,sans-serif;font-weight:normal;}
.green-buttom{background:#a4cd39 10px 17px no-repeat;background-image:url(../images/arrows-sprite.png);background-position:10px 17px;background-repeat:no-repeat;color:#303030;display:block;padding:10px 15px 10px 25px;float:left;}
input[type="submit"]{background:#a4cd39 10px 17px no-repeat;background-image:url(../images/arrows-sprite.png);background-position:10px -22px;background-repeat:no-repeat;color:#303030;display:block;padding:10px 15px 10px 25px;float:right;width:auto;}
input,textarea,select{background:#474646;border:none;color:#ebeded;clear:both;display:block;font-family:Arial,Helvetica,sans-serif;font-size:13px;margin:9px 0px;outline-color:#a4cd39;padding:8px;width:389px;}
#text-4{display:inline-block;width:405px;}#text-4 p{margin:0;}
h1,h2,h3,h4,h5,h6{font-family:'Lato',Arial,Helvetica,sans-serif;}
h1{font-size:48px;color:#303030;}
h2{font-size:36px;font-weight:900;}
h3{font-size:30px;font-weight:900;}
h4{font-size:24px;}
h5{font-size:18px;font-weight:900;}
h6{font-size:16px;}
h3.services-title{line-height:72px;}h3.services-title img{float:left;margin-bottom:0 !important;margin-top:0 !important;}
#wrap{position:relative;}
header{height:148px;padding-top:15px;position:relative;z-index:200;}header .title-site{height:148px;position:relative;}header .title-site h1.branding{display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;margin-bottom:0px;left:10px;position:absolute;z-index:150;}
header .title-site h2{color:#303030;font-size:38px;font-weight:900;display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;line-height:normal;margin-bottom:0px;padding-top:15px;padding-left:25px;vertical-align:top;}header .title-site h2 div:nth-child(1){line-height:37px;}
header .title-site h2 div:nth-child(2){font-size:19px;font-style:italic;margin-top:8px;}
header #follow_us{padding-top:24px;}header #follow_us .widget_link_list{padding-left:18px;list-style-type:none;}header #follow_us .widget_link_list .widgettitle{display:none;}
header #follow_us .widget_link_list ul{margin:0px;padding:0px;list-style-type:none;}header #follow_us .widget_link_list ul li{display:inline-block;height:32px;}header #follow_us .widget_link_list ul li a{display:block;height:32px;text-indent:-9999px;}
header #follow_us .widget_link_list ul .facebook{background:url(../images/social-network-sprite.png) 0px 0px no-repeat;width:33px;border-right:1px solid #e5e8e8;}header #follow_us .widget_link_list ul .facebook:hover{background:url(../images/social-network-sprite.png) -100px 0px no-repeat;}
header #follow_us .widget_link_list ul .twitter{background:url(../images/social-network-sprite.png) 17px -50px no-repeat;width:79px;border-right:1px solid #e5e8e8;}header #follow_us .widget_link_list ul .twitter:hover{background:url(../images/social-network-sprite.png) -83px -50px no-repeat;}
header #follow_us .widget_link_list ul .mail{background:url(../images/social-network-sprite.png) 18px -100px no-repeat;width:70px;border-right:1px solid #e5e8e8;}header #follow_us .widget_link_list ul .mail:hover{background:url(../images/social-network-sprite.png) -82px -100px no-repeat;}
header #follow_us .widget_link_list ul .linkedin{background:url(../images/social-network-sprite.png) 18px -147px no-repeat;width:50px;}header #follow_us .widget_link_list ul .linkedin:hover{background:url(../images/social-network-sprite.png) -82px -147px no-repeat;}
header #follow_us .widget_text{list-style-type:none;font-family:'Lato',Arial,Helvetica,sans-serif;font-size:18px;padding-left:18px;padding-top:15px;text-align:right;padding-right:8px;}header #follow_us .widget_text div{font-size:20px;font-weight:900;}
#content{background:transparent url(../images/shattered.png) repeat;position:relative;z-index:100;}#content nav{background:#303030;position:absolute;top:0px;z-index:90;}#content nav ul{margin:0px;padding-left:190px;position:relative;}#content nav ul li{display:inline-block;position:relative;}#content nav ul li a{color:#ebeded;display:block;font-family:'Lato',Arial,Helvetica,sans-serif;font-size:16px;font-weight:normal;padding:20px 18px;}#content nav ul li a:hover{text-decoration:none;}
#content nav ul li:hover{background:#ffffff;}#content nav ul li:hover a{color:#303030;}
#content nav ul li:hover ul.sub-menu{color:#303030;display:block;}
#content nav ul li ul.sub-menu{background:#ffffff;display:none;position:absolute;top:64px;left:0px;padding:0px;width:250px;z-index:100;}#content nav ul li ul.sub-menu li{display:block;text-align:left;border-bottom:1px solid #e5e8e8;}#content nav ul li ul.sub-menu li a{color:#303030;padding:10px;}#content nav ul li ul.sub-menu li a:hover{background:#a4cd39;}
#content nav ul li ul.sub-menu li:last-child{border:none;}
#content nav ul li.current-menu-item a{color:#a4cd39;}
#content #map-container{background:url(../images/map-background.png) no-repeat center 0 transparent;}
#content #slider-container{z-index:10;}#content #slider-container .slides{width:1200px;margin-left:-240px;line-height:0px;position:relative;}#content #slider-container .slides .text-box{line-height:normal;background:#a4cd39;height:255px;padding:50px 15px;position:absolute;right:0px;top:64px;width:270px;}#content #slider-container .slides .text-box h3{color:#ffffff;font-weight:900;}#content #slider-container .slides .text-box h3 span{color:#303030;}
#content #slider-container .slides .text-box a{background:url(../images/arrows-sprite.png) 0px -32px no-repeat;color:#303030;font-weight:900;padding-left:15px;}
#content #slider-container .slides .post-title{display:none;}
#content #slider-container .flex-control-nav{text-align:right;z-index:100;}#content #slider-container .flex-control-nav a{text-indent:9999px;}
#content section#summarize{background:#303030;padding:50px 0px;}#content section#summarize li{display:inline-block;padding:0px 15px;position:relative;vertical-align:top;width:280px;}#content section#summarize li .prev{background:url(../images/arrows-sprite.png) 0px -70px no-repeat;height:44px;position:absolute;left:10px;top:130px;width:24px;}#content section#summarize li .prev:hover{background-position:-50px -70px;text-decoration:none;}
#content section#summarize li .next{background:url(../images/arrows-sprite.png) 0px -139px no-repeat;height:44px;position:absolute;right:10px;top:130px;width:24px;}#content section#summarize li .next:hover{background-position:-50px -139px;text-decoration:none;}
#content section#summarize li .header{border-bottom:1px solid #fff;margin-bottom:20px;text-align:center;}#content section#summarize li .header img{display:block;margin:0px auto;padding:10px 0 0;}
#content section#summarize li .header .title{background:#303030;color:#ebeded;display:inline-block;font-family:'Lato',Arial,Helvetica,sans-serif;font-size:18px;margin-bottom:-25px;padding:15px 10px;vertical-align:bottom;}
#content section#summarize li p{color:#ebeded;font-family:Arial,Helvetica,sans-serif;height:72px;line-height:18px;text-align:center;}
#content section#summarize li .ngg_slideshow.widget .ngg-widget-slideshow{margin-left:auto;margin-right:auto;}
#content section#summarize li a.read-more{display:block;margin:0px auto;text-align:center;}
#content section#summarize #text-2 .header{background:url(../images/about-icon.png) no-repeat center 0 transparent;padding-top:50px;}
#content section#summarize #text-3 .header{background:url(../images/services-icon.png) no-repeat center 0 transparent;padding-top:50px;}
#content section#summarize #slideshow-2 .header{background:url(../images/clients-icon.png) no-repeat center 0 transparent;padding-top:50px;}
#content section#feed{padding:50px 0px;}#content section#feed div.container_24{position:relative;}#content section#feed div.container_24 .tweet-icon{height:80px;position:absolute;right:0px;top:-67px;width:105px;}
#content section#feed h4{font-family:'Lato',Arial,Helvetica,sans-serif;color:#60974b;margin:10px 0 0;padding-left:10px;}
#content section#feed h5{display:block;font-family:'Lato',Arial,Helvetica,sans-serif;font-size:17px;padding-left:10px;font-weight:normal;line-height:22px;}
#content section#feed .tb_twitterlogo,#content section#feed .tb_infolink,#content section#feed .tb_refreshlink,#content section#feed .tb_header{display:none !important;}
#content section#feed .tb_tools,#content section#feed .tb_msg{background:none !important;}
#content section#feed .tb_msg{border:none !important;}
#content section#feed #twitter1{display:inline-block;outline-color:#EBEFEF;height:343px;margin:0px 15px;vertical-align:top;width:280px;list-style-type:none;overflow-y:auto;}#content section#feed #twitter1 h4{color:#494949;}
#content section#feed #twitter1 h5{padding-bottom:10px;}
#content section#feed #twitter1 .widgettitle{font-size:0.9em;margin-bottom:0;}
#content section#feed #twitter1 .tt-preamble{margin-bottom:9px;}
#content section#feed #twitter1 .tb_tweetlist{line-height:15px;font-size:13px;border:none;margin-bottom:5px;}
#content section#feed #twitter1 .tb_tweet-info{display:block;margin-bottom:5px;}
#content section#feed #twitter2,#content section#feed #twitter3{background:#ffffff;border-top:4px;border-top-style:solid;border-top-color:#a4cd39;display:inline-block;box-shadow:0px 1px 3px #dfdfdf;-moz-box-shadow:0px 1px 3px #dfdfdf;-webkit-box-shadow:0px 1px 3px #dfdfdf;behavior:url(../PIE.php);overflow-y:auto;height:343px;margin:0px 15px;vertical-align:top;width:280px;}#content section#feed #twitter2 .tt-preamble,#content section#feed #twitter3 .tt-preamble{font-size:17px;padding-left:10px;padding-bottom:10px;border-bottom:1px solid #e5e8e8;margin:0;}
#content section#feed #twitter2 .widget_tweetblender,#content section#feed #twitter3 .widget_tweetblender{list-style-type:none;}
#content section#feed #twitter2 .tb_tweetlist,#content section#feed #twitter3 .tb_tweetlist{padding:5px 0 0 5px;line-height:15px;border:none;}#content section#feed #twitter2 .tb_tweetlist span,#content section#feed #twitter3 .tb_tweetlist span{font-size:13px;}
#content section#feed #twitter2 .tb_tweetlist .tb_tweet-info,#content section#feed #twitter3 .tb_tweetlist .tb_tweet-info{display:block;margin-bottom:5px;}
#content #info-container{padding-bottom:65px;z-index:10;}#content #info-container h2{background:#ffffff;border-bottom:1px solid #e5e8e8;margin:0px;padding:64px 42px 0px;position:relative;}
#content #info-container .centrar{margin-top:50px;padding:0px 155px;}
#content #info-container .box-services{display:inline-block;border-right:1px solid #e5e8e8;height:280px;padding:0px 40px 40px;text-align:center;vertical-align:top;width:200px;margin:10px 0px;}#content #info-container .box-services .icon{margin-bottom:15px;}
#content #info-container .box-services h5{line-height:22px;margin:auto;width:127px;}
#content #info-container #services-wrapper div:nth-child(3),#content #info-container #services-wrapper div:nth-child(5){border-right:none;}
#content #info-container #services-wrapper div:nth-child(4){margin-left:17%;}
#content #info-container .transparent-content p{margin-top:20px;text-align:center;}
#content #info-container .white-content{background:#ffffff;padding:42px 42px 42px 43px;}#content #info-container .white-content img{margin:10px;}
#content #info-container .post{padding:42px 42px 42px 43px;}#content #info-container .post #ssba{display:block;padding:6px 10px 20px 0;width:100%;}#content #info-container .post #ssba a{display:inline-block;margin:0px;padding:0px;height:26px;width:32px;text-indent:-9999px;}
#content #info-container .post #ssba #ssba_facebook_share{background:url(../images/share-newsroom-sprite.png) 5px 0px no-repeat;margin-left:10px;}#content #info-container .post #ssba #ssba_facebook_share:hover{background-position:-45px 0px;}
#content #info-container .post #ssba #ssba_twitter_share{background:url(../images/share-newsroom-sprite.png) 0px -50px no-repeat;}#content #info-container .post #ssba #ssba_twitter_share:hover{background-position:-50px -50px;}
#content #info-container .post #ssba .sharethis{background:url(../images/share-newsroom-sprite.png) 5px -100px no-repeat;}#content #info-container .post #ssba .sharethis:hover{background-position:-45px -100px;}
#content #info-container .dark-gray-content{background:#303030;padding:42px 43px 42px 42px;}#content #info-container .dark-gray-content img{margin:10px;}
#content #info-container .dark-gray-content .contact-info{color:#ebeded;display:inline-block;margin-left:100px;vertical-align:top;width:350px;}#content #info-container .dark-gray-content .contact-info h3{color:#a4cd39;font-size:18px;}
#content #info-container .dark-gray-content .contact-info li{background:url(../images/contact-icons-sprite.png) no-repeat;list-style:none;margin:10px 0px;padding-left:30px;}
#content #info-container .dark-gray-content .contact-info #text-5{background-position:0px -113px;}
#content #info-container .dark-gray-content .contact-info #text-6{background-position:0px -205px;}
#content #info-container .dark-gray-content .contact-info #text-7{background-position:0px -295px;}
#content #info-container .sidebar{display:inline-block;float:left;vertical-align:top;width:245px;}#content #info-container .sidebar ul.contact-leadership{list-style:none;}#content #info-container .sidebar ul.contact-leadership li{background:url(../images/contact-icons-sprite.png) no-repeat;padding-left:20px;}
#content #info-container .sidebar ul.contact-leadership .tel{background-position:0px 7px;}
#content #info-container .sidebar ul.contact-leadership .mail{background-position:0px -28px;}
#content #info-container .sidebar ul.contact-leadership .twitter-profile{background-position:0px -63px;}
#content #info-container .sidebar ul.vertical-menu{background:#303030;padding:40px 0px;margin:0px;list-style:none;}#content #info-container .sidebar ul.vertical-menu li{border-bottom:1px solid #494949;}#content #info-container .sidebar ul.vertical-menu li a{color:#ebeded;display:block;padding:5px 0px 6px 25px;}#content #info-container .sidebar ul.vertical-menu li a:hover{background:url(../images/hover-vertical-menu.jpg) top right no-repeat;text-decoration:none;}
#content #info-container .sidebar ul.vertical-menu li.current-menu-item{background:url(../images/hover-vertical-menu.jpg) top right no-repeat;}
#content #info-container .sidebar ul.vertical-menu .first{border-top:1px solid #494949;}
#content #info-container .sidebar .newsletter-box{background:#ffffff;padding:10px;height:140px;box-shadow:0px 1px 3px #dfdfdf;-moz-box-shadow:0px 1px 3px #dfdfdf;-webkit-box-shadow:0px 1px 3px #dfdfdf;behavior:url(../PIE.php);}#content #info-container .sidebar .newsletter-box h5{font-weight:900;}
#content #info-container .sidebar .newsletter-box p{margin-bottom:5px;float:left;}
#content #info-container .sidebar .newsletter-box input{background:#ebeded;color:#303030;display:inline-block;padding:10px 8px;width:111px;}
#content #info-container .sidebar .newsletter-box input[type="submit"]{background:#a4cd39 10px 17px no-repeat;background-image:url(../images/arrows-sprite.png);background-position:10px -22px;background-repeat:no-repeat;color:#303030;display:block;padding:10px 15px 10px 25px;display:inline-block;width:auto;}
#content #info-container .sidebar .news-contact-info{padding:10px;}#content #info-container .sidebar .news-contact-info h5{font-weight:900;}
#content #info-container .sidebar .news-contact-info p{margin-bottom:5px;}
#content #info-container .sidebar .news-contact-info .tel{padding-left:20px;background:url(../images/contact-icons-sprite.png) no-repeat 0px 7px;}
#content #info-container .sidebar .news-contact-info .mail{padding-left:20px;background:url(../images/contact-icons-sprite.png) no-repeat 0px -28px;}
#content #info-container .border-none{border-left:none;border-right:none;border-top:none;border-bottom:none;}
#content #info-container #leadership-section{margin-top:25px;}#content #info-container #leadership-section .leadership-box{background:#ffffff;display:inline-block;margin-left:5px;margin-right:5px;vertical-align:top;width:207px;box-shadow:0px 1px 3px #dfdfdf;-moz-box-shadow:0px 1px 3px #dfdfdf;-webkit-box-shadow:0px 1px 3px #dfdfdf;behavior:url(../PIE.php);}#content #info-container #leadership-section .leadership-box .icon{background:#a4cd39;height:207px;text-align:center;display:table-cell;vertical-align:middle;width:207px;}
#content #info-container #leadership-section .leadership-box h4{font-size:16px;color:#60974b;font-weight:900;margin:0px;padding:10px 10px 0px;}
#content #info-container #leadership-section .leadership-box .description{display:block;padding:5px 10px 13px 10px;}#content #info-container #leadership-section .leadership-box .description p{margin:0;line-height:18px;}
#content #info-container #leadership-section .leadership-box a{background:#ebeded;display:block;padding:5px 10px;}
#content #info-container #leadership-section div:nth-child(6){margin-left:13.5%;}
#content #info-container #leadership-section div:nth-child(6),#content #info-container #leadership-section div:nth-child(7),#content #info-container #leadership-section div:nth-child(8){margin-top:25px;}
#content #info-container .first{margin-left:0px;}
#content #info-container .last{margin-right:0px;}
#content #info-container #client-info{height:390px;}#content #info-container #client-info #map{height:390px;}
#content #info-container #client-info .description{background:#303030;color:#ebeded;float:left;height:310px;padding:40px 19px;width:26%;}#content #info-container #client-info .description .title{color:#a4cd39;font-size:32px;font-family:'Lato',Arial,Helvetica,sans-serif;margin-bottom:20px;line-height:normal;}
#content #info-container ul.clients{margin:0px;padding:0px;list-style:none;}#content #info-container ul.clients li{border:1px solid #e5e8e8;float:left;height:238px;margin:0px;padding:0px;width:238px;}#content #info-container ul.clients li div{background:#ffffff;cursor:pointer;display:table-cell;height:238px;vertical-align:middle;text-align:center;width:238px;font-family:'Lato',Arial,Helvetica,sans-serif;font-size:24px;font-weight:900;}
#content #info-container ul.clients li .client-box:hover{background:#a4cd39;}
#content #info-container .news-content{padding:25px 0 0 30px;}#content #info-container .news-content h3{margin:20px 0px;}
#content #info-container .news-content section{position:relative;clear:both;padding-top:20px;}#content #info-container .news-content section a.view{display:block;position:absolute;top:60px;right:0px;}
#content #info-container .news-content section .entry-title.widgettitle{display:none;}
#content #info-container .news-content section .widget.ngg_images{list-style-type:none;}
#content #info-container .news-content section .ngg-widget img{border:none;margin:0px 5px 0px 0px;}
#content #info-container .news-content .latest-news-slider .pic{float:left;line-height:0px;}
#content #info-container .news-content .latest-news-slider .latest-news-info{background:#ffffff;box-shadow:0px 1px 3px #dfdfdf;-moz-box-shadow:0px 1px 3px #dfdfdf;-webkit-box-shadow:0px 1px 3px #dfdfdf;behavior:url(../PIE.php);margin:0px;padding:0px;float:left;height:296px;width:374px;}#content #info-container .news-content .latest-news-slider .latest-news-info h4{font-size:24px;line-height:29px;margin:10px 0 0;padding:0 10px 0;font-weight:700;}#content #info-container .news-content .latest-news-slider .latest-news-info h4 a{padding:0px;display:inline;}
#content #info-container .news-content .latest-news-slider .latest-news-info span{border-bottom:1px solid #e5e8e8;display:block;font-size:12px;padding:5px 10px 10px;}#content #info-container .news-content .latest-news-slider .latest-news-info span a{display:inline;}
#content #info-container .news-content .latest-news-slider .latest-news-info p{line-height:18px;height:72px;margin-bottom:5px;padding:10px 10px 0;}#content #info-container .news-content .latest-news-slider .latest-news-info p a{display:inline;}
#content #info-container .news-content .latest-news-slider .latest-news-info a{display:block;padding:0 10px 10px;}
#content #info-container .news-content .latest-news-slider .latest-news-info .share{background:#ebeded;display:block;padding:6px 10px;}#content #info-container .news-content .latest-news-slider .latest-news-info .share a{display:inline-block;margin:0px;padding:0px;height:26px;width:32px;text-indent:-9999px;}
#content #info-container .news-content .latest-news-slider .latest-news-info .share #ssba_facebook_share{background:url(../images/share-newsroom-sprite.png) 5px 0px no-repeat;margin-left:10px;}#content #info-container .news-content .latest-news-slider .latest-news-info .share #ssba_facebook_share:hover{background-position:-45px 0px;}
#content #info-container .news-content .latest-news-slider .latest-news-info .share #ssba_twitter_share{background:url(../images/share-newsroom-sprite.png) 0px -50px no-repeat;}#content #info-container .news-content .latest-news-slider .latest-news-info .share #ssba_twitter_share:hover{background-position:-50px -50px;}
#content #info-container .news-content .latest-news-slider .latest-news-info .share .sharethis{background:url(../images/share-newsroom-sprite.png) 5px -100px no-repeat;}#content #info-container .news-content .latest-news-slider .latest-news-info .share .sharethis:hover{background-position:-45px -100px;}
#content #info-container .news-content article.blog-box{background:#ffffff;border-top:4px;border-top-style:solid;border-top-color:#a4cd39;display:inline-block;box-shadow:0px 1px 3px #dfdfdf;-moz-box-shadow:0px 1px 3px #dfdfdf;-webkit-box-shadow:0px 1px 3px #dfdfdf;behavior:url(../PIE.php);margin-right:13px;width:215px;float:left;margin-bottom:20px;position:relative;}#content #info-container .news-content article.blog-box h5{font-size:16px;line-height:19px;margin:10px 0 0;padding:0 10px 0;font-weight:700;}#content #info-container .news-content article.blog-box h5 a{padding:0px;display:inline;}
#content #info-container .news-content article.blog-box span{border-bottom:1px solid #e5e8e8;display:block;font-size:12px;padding:5px 10px 10px;}#content #info-container .news-content article.blog-box span a{display:inline;}
#content #info-container .news-content article.blog-box p{line-height:18px;margin-bottom:5px;padding:10px 10px 0;}#content #info-container .news-content article.blog-box p a{display:inline;}
#content #info-container .news-content article.blog-box a{display:block;padding:0 10px 10px;}
#content #info-container .news-content article.blog-box .share{background:#ebeded;display:block;padding:6px 10px;position:absolute;bottom:0;width:100%;}#content #info-container .news-content article.blog-box .share a{display:inline-block;margin:0px;padding:0px;height:26px;width:32px;text-indent:-9999px;}
#content #info-container .news-content article.blog-box .share #ssba_facebook_share{background:url(../images/share-newsroom-sprite.png) 5px 0px no-repeat;margin-left:10px;}#content #info-container .news-content article.blog-box .share #ssba_facebook_share:hover{background-position:-45px 0px;}
#content #info-container .news-content article.blog-box .share #ssba_twitter_share{background:url(../images/share-newsroom-sprite.png) 0px -50px no-repeat;}#content #info-container .news-content article.blog-box .share #ssba_twitter_share:hover{background-position:-50px -50px;}
#content #info-container .news-content article.blog-box .share .sharethis{background:url(../images/share-newsroom-sprite.png) 5px -100px no-repeat;}#content #info-container .news-content article.blog-box .share .sharethis:hover{background-position:-45px -100px;}
#content #info-container .news-content .last{margin-right:0px !important;}
#content #info-container .news-content .media-box{background:#ffffff;border-top:0px;border-top-style:solid;border-top-color:#a4cd39;display:inline-block;box-shadow:0px 1px 3px #dfdfdf;-moz-box-shadow:0px 1px 3px #dfdfdf;-webkit-box-shadow:0px 1px 3px #dfdfdf;behavior:url(../PIE.php);margin-right:13px;width:215px;}#content #info-container .news-content .media-box h5{font-size:16px;line-height:19px;margin:10px 0;padding:0 10px 0;font-weight:700;}
#content #info-container .news-content .media-box .pic{position:relative;}#content #info-container .news-content .media-box .pic .icon{bottom:0px;position:absolute;right:0px;}
#content #info-container #respond{background:#ffffff;padding:20px;}
#content .article-header{padding-top:76px;height:auto;}#content .article-header h1{font-size:1.8em;}
#content .article-header footer{display:none;}
#content #post-header{z-index:0;}
#content #commentform #submit{float:none;}
#content #post-not-found #searchform #searchsubmit{float:none;}
footer{background:#303030;color:#ebeded;font-family:Arial,Helvetica,sans-serif;font-size:14px;padding:20px 0;position:relative;z-index:50;}footer.article-footer{padding:2px 0px;}footer.article-footer p{float:none;}
footer #logo_footer{float:left;}
footer .sub-menu{display:none;}
footer ul#menu_footer{float:left;margin:10px 0 0;padding:0 0 0 5px;vertical-align:top;}footer ul#menu_footer li{display:inline-block;}footer ul#menu_footer li a{color:#ebeded;padding:0 0 0 15px;}
footer ul#menu_footer li:after{content:"\00a0\00a0\00a0\00a0\00a0|";}
footer ul#menu_footer li:last-child:after{content:"";}
footer p{display:block;float:left;margin:5px 0px;padding-left:20px;}
.ngg-galleryoverview{margin:20px;}
#tiny-carousel-slider1{padding:20px 0px 0px !important;}#tiny-carousel-slider1 .viewport{padding-top:20px;}
#tiny-carousel-slider1 .buttons{background:url('../images/carousel-arrows.png') no-repeat scroll 0 0 transparent !important;bottom:11px;height:66px !important;}#tiny-carousel-slider1 .buttons.prev{background-position:0 -55px !important;}
#tiny-carousel-slider1 .buttons.next{background-position:0 10px !important;}
@media print{a:link,a:visited{text-decoration:underline !important;} #site-name a:link,#site-name a:visited{text-decoration:none !important;} #content{float:none !important;width:100% !important;margin:0 !important;padding:0 !important;}#content a[href]:after{content:" (" attr(href) ")";font-weight:normal;font-size:16px;} #content a[href^="javascript:"]:after,#content a[href^="#"]:after{content:"";} #content abbr[title]:after{content:" (" attr(title) ")";} body,#page,#main,#content{color:#000;background-color:transparent !important;background-image:none !important;} #skip-link,#toolbar,#navigation,.region-sidebar-first,.region-sidebar-second,#footer,.breadcrumb,.tabs,.action-links,.links,.book-navigation,.forum-topic-navigation,.pager,.feed-icons{visibility:hidden;display:none;}}@-moz-document url-prefix(){}@media screen and (-webkit-min-device-pixel-ratio:0){}html.ie-8{}
html.ie-7{}
html.no-js{}
html.mac{}
