//@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

// Fonts
@custom: 'Lato', Arial, Helvetica, sans-serif;
@arial: Arial, Helvetica, sans-serif;

//Colors
@link: #60974b;
@base-text: #303030;
@white-text: #ebeded;
@green: #a4cd39;
@border-box: #e5e8e8;
@white: #fff;
@light-gray:#b4b4b4;
@dark-gray:#494949;
@input:#474646;

// Common Herlpers 
.list(){
    list-style: none;
    padding-left: 15px;
    background: transparent url("../images/list-bullet.gif") no-repeat 0 7px;
}
.mp0(@mp0: 0px){
    margin: @mp0;
    padding: @mp0;
}

// CSS3 Customs styles
.opacity(@opacity: .4, @ie-opacity: 40){
    opacity: @opacity; /* other browsers and IE9+ */  
    filter: alpha(opacity=@ie-opacity); /* IE6+ */
}
.inline(){
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;   
}
.rounded(@radius: 10px){
    -moz-border-radius:@radius; /* Firefox */  
    -webkit-border-radius:@radius; /* Safari and chrome */ 
    -khtml-border-radius:@radius; /* Linux browsers */  
    border-radius:@radius; /* CSS3 */    
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;  /* All browsers */
    behavior: url(../PIE.php);
}
.shadow(@x-axis: 0px, @y-axis: 1px, @blur: 3px, @shadow-color: #dfdfdf){
    box-shadow: @x-axis @y-axis @blur @shadow-color; /* for Firefox 3.5+ */    
    -moz-box-shadow: @x-axis @y-axis @blur @shadow-color; /* for Firefox 3.5+ */
	-webkit-box-shadow: @x-axis @y-axis @blur @shadow-color; /* for Safari and Chrome */
    behavior: url(../PIE.php);
}
.gradient(@color: #CCC, @start: #ffffff, @end: #f2f2f2){
    background: @color; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(@start) to(@end)); /*old webkit*/
    background: -webkit-linear-gradient(@start, @end); /*new webkit*/
    background: -moz-linear-gradient(@start, @end); /*gecko*/
    background: -ms-linear-gradient(@start, @end); /*IE10*/
    background: -o-linear-gradient(@start, @end); /*opera 11.10+*/
    background: linear-gradient(@start, @end); /*future CSS3 browsers*/
    -pie-background: linear-gradient(@start, @end); /*PIE*/
    behavior: url(../PIE.php);
}
.rotate(@deg: 180deg, @ie-deg: 2) {
    -webkit-transform: rotate(@deg);
	-moz-transform: rotate(@deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=@ie-deg);    
}
.boxes(@border: 4px){
	background:@white;
	border-top:@border;
	border-top-style:solid;
	border-top-color:@green;
	display:inline-block;
}
.button(@color: #a4cd39, @x-axis:10px, @y-axis:17px){
	background:@color 10px 17px no-repeat;
	background-image: url(../images/arrows-sprite.png);
	background-position:@x-axis @y-axis;
	background-repeat:no-repeat;
	color:@base-text;
	display:block;
	padding:10px 15px 10px 25px;
}