html{
    margin: 0;
    padding: 0;
    height: 100%;
}
a{
    color: @link;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

body{
    font-family: @arial;
    font-size: 14px;
	font-weight:normal;
    color: @base-text;
    height: 100%;
}
p{font-family:@arial; font-weight: normal;}
.green-buttom{
	.button();
	float:left;
}
input[type="submit"]{
	.button(@green, 10px, -22px);
	float:right;
	width:auto;
}
input, textarea, select{
	background:@input;
	border:none;
	color:@white-text;
	clear:both;
	display:block;
	font-family:@arial;
	font-size:13px;
	margin:9px 0px;
	outline-color:@green;
	padding:8px;
	width:389px;
}
#text-4{
	display:inline-block;
	width:405px;
	p{
		margin: 0;
	}
}
/* ---- Headers ---- */
h1, h2, h3, h4, h5, h6{
	font-family:@custom;
}
h1{
	font-size:48px;
	color:@base-text;
}
h2{
	font-size:36px;
	font-weight:900;
}
h3{
	font-size:30px;
	font-weight:900;
}
h4{
	font-size:24px;
}
h5{
	font-size:18px;
	font-weight:900;
}
h6{
	font-size:16px;
}
h3.services-title{
	line-height:72px;
	img{
		float: left;
	    margin-bottom: 0 !important;
	    margin-top: 0 !important;
	}
}
/* ---- End Headers ---- */
#wrap{
	position:relative;
}
header{
	height:148px;
	padding-top:15px;
	position:relative;
	z-index:200;
	.title-site{
		height: 148px;
		position:relative;
		h1.branding{
			.inline();
			margin-bottom:0px;
			left:10px;
			position:absolute;
			z-index:150;
		}
		h2{
			color:@base-text;
			font-size:38px;
			font-weight:900;
			.inline();
			line-height: normal;
			margin-bottom:0px;
			padding-top: 15px;
			padding-left:25px;
			vertical-align: top;
            div:nth-child(1){
                line-height: 37px;
            }
            div:nth-child(2){
                font-size:19px;
                font-style:italic;
                margin-top: 8px;
            }
		}
	}
	#follow_us{
		padding-top:24px;
		.widget_link_list{
			padding-left:18px;
			list-style-type:none;
			.widgettitle{
				display: none;
			}
			ul{
				.mp0();
				list-style-type:none;
				li{
					display:inline-block;
					height:32px;
				 a{
				 	display:block;
					height:32px;
					text-indent:-9999px;
				 }
				} 
				.facebook{ background: url(../images/social-network-sprite.png) 0px 0px no-repeat; width:33px; border-right:1px solid @border-box;
					&:hover{ background: url(../images/social-network-sprite.png) -100px 0px no-repeat; }
				}
				.twitter{ background: url(../images/social-network-sprite.png) 17px -50px no-repeat; width:79px; border-right:1px solid @border-box;
					&:hover{ background: url(../images/social-network-sprite.png) -83px -50px no-repeat; }
				}
				.mail{ background: url(../images/social-network-sprite.png) 18px -100px no-repeat; width:70px; border-right:1px solid @border-box;
					&:hover{ background: url(../images/social-network-sprite.png) -82px -100px no-repeat; }
				}
    			.linkedin{ background: url(../images/social-network-sprite.png) 18px -147px no-repeat; width:50px;
					&:hover{ background: url(../images/social-network-sprite.png) -82px -147px no-repeat; }
				}                
			}
		}
		.widget_text{
			list-style-type:none;
			font-family:@custom;
			font-size:18px;
			padding-left:18px;
			padding-top:15px;
            text-align: right;
            padding-right: 8px;
			div{
				font-size:20px;
				font-weight:900;
			}
		}
	}
}

#content{
	background:transparent url(../images/shattered.png) repeat;
	position:relative;
	z-index:100;
	nav{
		background:@base-text;
		position:absolute;
		top:0px;
		z-index:90;
		ul{
			margin:0px;
			padding-left: 190px;
			position: relative;
			li{
				display:inline-block;
				position:relative;
				a{
					color: @white-text;
					display:block;
					font-family:@custom;
					font-size:16px;
					font-weight:normal;
					padding: 20px 18px;
					&:hover{
						text-decoration: none;
					}
				}
				&:hover{
					background:@white;
					a{
						color: @base-text;
					}
					ul.sub-menu{
							color: @base-text;
							display: block;
						}
				}
				ul.sub-menu{
					background:@white;
					display: none;
					position: absolute;
					top: 64px;
					left: 0px;
					padding:0px;
					width:250px;
					z-index: 100;
					li{
						display:block;
						text-align: left;
						border-bottom:1px solid @border-box;
						a{
							color:@base-text;
							padding:10px;
							&:hover{
								background:@green;
							}
						}
						&:last-child{
							border:none;
						}
					}
				}
			}
			li.current-menu-item a{color:@green;}
		}
	}
	#map-container{
		background:url(../images/map-background.png) no-repeat center 0 transparent;
	}
	#slider-container{
		z-index:10;
		.slides{
			width:1200px;
			margin-left:-240px;
			line-height:0px;
			position:relative;
			.text-box{
				line-height:normal;
				background:@green;
				height:255px;
				padding:50px 15px;
				position:absolute;
				right:0px;
				top:64px;
				width:270px;
				h3{
					color:@white;
					font-weight:900;
					span{
						color:@base-text;
					}
				}
				p{
				}
				a{
					background:url(../images/arrows-sprite.png) 0px -32px no-repeat;
					color:@base-text;
					font-weight:900;
					padding-left:15px;
				}
			}
			.post-title {
				display: none;
			}
		}
		.flex-control-nav{
			text-align: right;
			z-index: 100;
			a{
				text-indent: 9999px;
			}
		}
	}
	section#summarize{
		background:@base-text;
		padding:50px 0px;
		li{
			display:inline-block;
			padding:0px 15px;
			position:relative;
			vertical-align:top;
			width:280px;
			.prev{ background:url(../images/arrows-sprite.png) 0px -70px no-repeat; height:44px; position:absolute; left:10px; top:130px; width:24px;
				&:hover{ background-position: -50px -70px; text-decoration:none;}
			}
			.next{ background:url(../images/arrows-sprite.png) 0px -139px no-repeat; height:44px; position:absolute; right:10px; top:130px; width:24px;
				&:hover{ background-position: -50px -139px; text-decoration:none;}
			}
			.header{
				border-bottom: 1px solid #fff;
				margin-bottom: 20px;
				text-align:center;		
				img{
					display:block;
					margin:0px auto;
					padding:10px 0 0;					
				}
				.title{
					background:@base-text;
					color:@white-text;
					display:inline-block;
					font-family:@custom;
					font-size:18px;
					margin-bottom:-25px;
					padding:15px 10px;
					vertical-align:bottom;
				}
			}
			p{
				color:@white-text;
				font-family:@arial;
				height:72px;
				line-height:18px;
				text-align:center;
			}
			.ngg_slideshow.widget{
				.ngg-widget-slideshow{
					margin-left: auto;
					margin-right: auto;
				}
			}           
			a.read-more{
				display:block;
				margin:0px auto;
				text-align:center;
			}
		}
		#text-2{
			.header{
				background: url(../images/about-icon.png) no-repeat center 0 transparent;
				padding-top: 50px;
			}
		}
		#text-3{
			.header{
				background: url(../images/services-icon.png) no-repeat center 0 transparent;
				padding-top: 50px;
			}
		}
		#slideshow-2{
			.header{
				background: url(../images/clients-icon.png) no-repeat center 0 transparent;
				padding-top: 50px;
			}			
		}			
	}
	section#feed{
		padding:50px 0px;
		div.container_24{
			position:relative;
			.tweet-icon{
				height:80px;
				position: absolute;
				right:0px;
				top:-67px;
				width:105px;
			}
		}
		h4{
			font-family:@custom;
			color:@link;
			margin:10px 0 0;
			padding-left:10px;
		}
		h5{
    		display:block;
			font-family:@custom;
			font-size:17px;
			padding-left:10px;
			//padding-bottom:10px;
			//border-bottom:1px solid @border-box;
            font-weight:normal;
            line-height: 22px;
		}
        .tb_twitterlogo, .tb_infolink, .tb_refreshlink, .tb_header{
            display:none !important;
        }
        .tb_tools,.tb_msg{
            background: none !important;
        }
        .tb_msg{
            border:none !important;
        }        
		#twitter1{
			display:inline-block;
            outline-color:#EBEFEF;
			height:343px;
			margin:0px 15px;
			vertical-align:top;
			width:280px;
			list-style-type: none;
            overflow-y: auto;
            h4{               
                color: @dark-gray;
            }
            h5{
                padding-bottom:10px;
            }
			.widgettitle{
				font-size: 0.9em;
				margin-bottom: 0;
			}
			.tt-preamble{
				margin-bottom: 9px;
			}
            .tb_tweetlist{
                line-height:15px;
                font-size:13px;
                border:none;
                margin-bottom:5px;
            }
            .tb_tweet-info{
                display:block;
                margin-bottom:5px;
            }            
		}
		#twitter2, #twitter3{
			.tt-preamble{
				font-size:17px;
				padding-left:10px;
				padding-bottom:10px;
				border-bottom:1px solid @border-box;
				margin: 0;
			}
			.boxes();
			.shadow();
            overflow-y: auto;
			height:343px;
			margin:0px 15px;
			vertical-align:top;
			width:280px;
            .widget_tweetblender{
                list-style-type: none;
            }
			.tb_tweetlist{
				padding: 5px 0 0 5px;
                line-height:15px;
                border:none;
                span{
                    font-size:13px;
                }
                .tb_tweet-info{
                    display:block;
                    margin-bottom:5px;
                }
			}
		}
	}
	#info-container{
		padding-bottom: 65px;
		z-index:10;
		h2{
			background:@white;
			border-bottom:1px solid @border-box;
			margin:0px;
			padding:64px 42px 0px;
			position:relative;
		}
		.centrar{
			margin-top:50px;
			padding:0px 155px;
		}
		.box-services{
			display:inline-block;
			border-right:1px solid @border-box;
			height:280px;
			padding:0px 40px 40px;
			text-align:center;
			vertical-align:top;
			width:200px;
			margin: 10px 0px;
			.icon{
				margin-bottom:15px;
			}
			h5{
				line-height:22px;
				margin: auto;
    			width: 127px;
			}
		}
        #services-wrapper div:nth-child(3), #services-wrapper div:nth-child(5){
            border-right:none;
        }        
        #services-wrapper div:nth-child(4){
            margin-left:17%;
        }
		.transparent-content{
			p{
				margin-top:20px;
				text-align:center;
			}
		}
		.white-content{
			background:@white;
			padding:42px 42px 42px 43px;
			img{
				margin:10px;	
			}
/*			div:nth-child(3){
				border-right: none;
			}
			div:nth-child(4){
				margin-left: 20%;
			}
			div:nth-child(5){
				border-right: none;
			}	
*/
		}
        .post{
            padding:42px 42px 42px 43px;
            #ssba{
            	display:block;
            	padding:6px 10px 20px 0;
                width:100%;
            	a{
            		display:inline-block;
            		.mp0();
            		height:26px;
            		width:32px;
            		text-indent:-9999px;
            	}
            	#ssba_facebook_share{
            		background:url(../images/share-newsroom-sprite.png) 5px 0px no-repeat;
            		&:hover{ background-position:-45px 0px;}
            		margin-left: 10px;
            	}
            	#ssba_twitter_share{
            		background:url(../images/share-newsroom-sprite.png) 0px -50px no-repeat;
            		&:hover{ background-position:-50px -50px;}
            	}
            	.sharethis{
            		background:url(../images/share-newsroom-sprite.png) 5px -100px no-repeat;
            		&:hover{ background-position:-45px -100px;}
            	}
            }
        }
		.dark-gray-content{
			background:@base-text;
			padding:42px 43px 42px 42px;
			img{
				margin:10px;	
			}
			.contact-info{
				color:@white-text;
				display:inline-block;
				margin-left:100px;
				vertical-align:top;
				width:350px;
				h3{
					color:@green;
					font-size:18px;
				}
				li{
					background:url(../images/contact-icons-sprite.png) no-repeat;
					list-style:none;
					margin:10px 0px;
					padding-left:30px;
				}
				#text-5{
					background-position:0px -113px;
				}
				#text-6{
					background-position:0px -205px;
				}
				#text-7{
					background-position:0px -295px;
				}
			}
		}
		.sidebar{
			display:inline-block;
			float:left;
			vertical-align:top;
			width:245px;
			ul.contact-leadership{
				list-style:none;
				li{
					background:url(../images/contact-icons-sprite.png) no-repeat;
					padding-left:20px;
				}
				.tel{
					background-position: 0px 7px;
				}
				.mail{
					background-position: 0px -28px;
				}
				.twitter-profile{
					background-position: 0px -63px;
				}
			}
			ul.vertical-menu{
				background:@base-text;
				padding:40px 0px;
				margin:0px;
				list-style:none;
				li{
					border-bottom:1px solid @dark-gray;
					a{
						color:@white-text;
						display:block;
						padding:5px 0px 6px 25px;
						&:hover{
							background: url(../images/hover-vertical-menu.jpg) top right no-repeat;
							text-decoration:none;
						}
					}
				}
				li.current-menu-item{background: url(../images/hover-vertical-menu.jpg) top right no-repeat;}
				.first{border-top:1px solid @dark-gray;}
			}
			.newsletter-box{
				background:@white;
				padding:10px;
			    height:140px;
				.shadow();
				h5{
					font-weight:900;
				}
				p{
					margin-bottom:5px;
					float: left;
				}
				input{
					background:@white-text;
					color:@base-text;
					display:inline-block;
					padding:10px 8px;
					width:111px;
				}
				input[type="submit"]{
					.button(@green, 10px, -22px);
					display:inline-block;
					width:auto;
				}
			}
			.news-contact-info{
				padding:10px;
				h5{
					font-weight:900;
				}
				p{
					margin-bottom:5px;
				}
				.tel{
					padding-left:20px;
					background:url(../images/contact-icons-sprite.png) no-repeat 0px 7px;
				}
				.mail{
					padding-left:20px;
					background:url(../images/contact-icons-sprite.png) no-repeat 0px -28px;
				}
			}
		}	
		.border-none{
			border-left:none;
			border-right:none;
			border-top:none;
			border-bottom:none;
		}
        #leadership-section{
            margin-top:25px;     
		    .leadership-box{
			background:@white;
			display:inline-block;
			margin-left: 5px;
			margin-right: 5px;
			vertical-align:top;
			width:207px;
			.shadow();
			.icon{
				background:@green;
				height:207px;
				text-align:center;
				display:table-cell;
				vertical-align:middle;
				width:207px;
			}
			h4{
				font-size:16px;
				color:@link;
				font-weight:900;
				margin:0px;
				padding:10px 10px 0px;
			}
			.description{
				display:block;
				padding:5px 10px 13px 10px;
				p{
					margin: 0;
					line-height: 18px;
				}
			}
			a{
				background:@white-text;
				display:block;
				padding:5px 10px;
			}
		}
        }
        #leadership-section div:nth-child(6){
            margin-left:13.5%;
        }
        #leadership-section div:nth-child(6),#leadership-section div:nth-child(7),#leadership-section div:nth-child(8){
            margin-top:25px;  
        }
		.first{margin-left:0px;}
		.last{margin-right:0px;}
		#client-info{
			height: 390px;
			#map{
				height: 390px;
			}
			.description{
				background:@base-text;
                color:@white-text;
                float: left;
                height: 310px; 
                padding:40px 19px;
                width: 26%;
				.title{
					color:@green;
                    font-size:32px;
                    font-family:@custom;
                    margin-bottom: 20px;
                    line-height:normal;
				}
			}
		}
		ul.clients{
			.mp0();
			list-style:none;
			li{
				border:1px solid @border-box;
				float:left;
				height:238px;			
				.mp0();
				width:238px;
				div{
					background:@white;
					cursor: pointer;
					display: table-cell;
					height:238px;
					vertical-align:middle;
					text-align:center;
					width:238px;
                    font-family:@custom;
                    font-size: 24px;
                    font-weight:900;
				}
				.client-box:hover{
					background:@green;
				}                
			}
		}
		.news-content{
			padding:25px 0 0 30px;
			h3{
				margin:20px 0px;
			}
			
			section{
				position:relative;
				clear: both;
				padding-top: 20px;
				a.view{
					display:block;
					position: absolute;
					top:60px;
					right:0px;
				}
				.entry-title.widgettitle{
					display: none;
				}
				.widget.ngg_images{
					list-style-type: none;
				}
                .ngg-widget img{
                    border:none; 
                    margin:0px 5px 0px 0px;
                } 
			}
			.latest-news-slider{
				.pic{
					float:left;
					line-height:0px;
				}
				.latest-news-info{
					background:@white;
					.shadow();
					.mp0();
					float:left;
					height:296px;
					width:374px;
					h4{
						font-size:24px;
						line-height:29px;
						margin: 10px 0 0;
						padding:0 10px 0;
						font-weight:700;
						a{
							padding:0px;
							display: inline;
						}
					}
					span{
						border-bottom: 1px solid @border-box;
						display:block;
						font-size:12px;
						padding:5px 10px 10px;
						a{display:inline;}
					}
					p{
						line-height:18px;
						height:72px;
						margin-bottom:5px;
						padding:10px 10px 0;
						a{display:inline;}
					}
					a{
						display:block;
						padding:0 10px 10px;
					}
					.share{
						background:@white-text;
						display:block;
						padding:6px 10px;

						a{
							display:inline-block;
							.mp0();
							height:26px;
							width:32px;
							text-indent:-9999px;
						}
						#ssba_facebook_share{
							background:url(../images/share-newsroom-sprite.png) 5px 0px no-repeat;
							&:hover{ background-position:-45px 0px;}
							margin-left: 10px;
						}
						#ssba_twitter_share{
							background:url(../images/share-newsroom-sprite.png) 0px -50px no-repeat;
							&:hover{ background-position:-50px -50px;}
						}
						.sharethis{
							background:url(../images/share-newsroom-sprite.png) 5px -100px no-repeat;
							&:hover{ background-position:-45px -100px;}
						}
					}
				}
			}
			article.blog-box{
				.boxes();
				.shadow();
				//height:285px;
				margin-right:13px;
				width:215px;
				float: left;
                margin-bottom:20px;
                position:relative;
				h5{
					font-size:16px;
					line-height:19px;
					margin: 10px 0 0;
					padding:0 10px 0;
					font-weight:700;
					a{
						padding:0px;
						display: inline;
					}
				}
				span{
					border-bottom: 1px solid @border-box;
					display:block;
					font-size:12px;
					padding:5px 10px 10px;
					a{display:inline;}
				}
				p{
					line-height:18px;
					margin-bottom:5px;
					padding:10px 10px 0;
					a{display:inline;}
				}
				a{
					display:block;
					padding:0 10px 10px;
				}
				.share{
					background:@white-text;
					display:block;
					padding:6px 10px;
                    position:absolute;
                    bottom:0;
                    width:100%;
					a{
						display:inline-block;
						.mp0();
						height:26px;
						width:32px;
						text-indent:-9999px;
					}
					#ssba_facebook_share{
						background:url(../images/share-newsroom-sprite.png) 5px 0px no-repeat;
						&:hover{ background-position:-45px 0px;}
						margin-left: 10px;
					}
					#ssba_twitter_share{
						background:url(../images/share-newsroom-sprite.png) 0px -50px no-repeat;
						&:hover{ background-position:-50px -50px;}
					}
					.sharethis{
						background:url(../images/share-newsroom-sprite.png) 5px -100px no-repeat;
						&:hover{ background-position:-45px -100px;}
					}
				}
			}
			.last{
				margin-right:0px !important;
			}
			.media-box{
				.boxes(0px);
				.shadow();
				margin-right:13px;
				width:215px;
				h5{
					font-size:16px;
					line-height:19px;
					margin: 10px 0;
					padding:0 10px 0;
					font-weight:700;
				}
				.pic{
					position:relative;
					.icon{
						bottom:0px;
						position:absolute;
						right:0px;
					}
				}
			}
		}
		#respond{
          background:@white; 
          padding:20px;
		}
	}
	.article-header{
		padding-top: 76px;
		height: auto;
		h1{
			font-size: 1.8em;
		}
		footer{
			display: none;
		}
	}
	#post-header{
		z-index: 0;
	}
	#commentform{
		#submit{
			float: none;
		}		
	}
	#post-not-found{
		#searchform{
			#searchsubmit{
				float: none;
			}
		}
	}
}

footer{
	background:@base-text;
	color:@white-text;
	font-family:@arial;
    font-size: 14px;
    padding: 20px 0;
	position:relative;
	z-index:50;
    &.article-footer{
        padding:2px 0px;
        p{
            float:none;
        }
    }
	#logo_footer{
		float:left;
	}
    .sub-menu{
        display:none;
    }
	ul#menu_footer{
		float:left;
		margin:10px 0 0;
		padding: 0 0 0 5px;
		vertical-align:top;
		li{
			display:inline-block;			
			a{
				color:@white-text;
				padding:0 0 0 15px;
			}
		}
		li:after{
			content: "\00a0\00a0\00a0\00a0\00a0|";
		}
		li:last-child:after{
			content: "";
		}		
	}
	p{
		display:block;
		float:left;
		margin:5px 0px;
		padding-left:20px;
	}
}

.ngg-galleryoverview {
  margin: 20px;
}

#tiny-carousel-slider1{
    padding: 20px 0px 0px !important;
    .viewport{
        padding-top:20px;
        //.overview{
        //     width:2200px !important;
        //    li{
        //       padding: 0 20px !important;
        //        width: auto !important;
        //    }
       // }
    }
    .buttons{
        background: url('../images/carousel-arrows.png') no-repeat scroll 0 0 transparent !important;
        bottom: 11px;
        height:66px !important;
        &.prev{
            background-position: 0 -55px !important;
        }
        &.next{
            background-position: 0 10px !important;
        }
    }
}